@import './globals.scss';

.btn {
  border: none;
  padding: 8px;
  margin: 8px;
  color: $black;
}

.btn-white {
  background-color: $white;
}

.btn-red {
  background-color: $red;
  color: $white;
}
