$phone: 500px;
$tablet: 768px;
$laptop: 1200px;
$desktop: 1600px;

$black: #323131;
$blackboard: #565656;
$gray: #e0e0e0;
$light-gray: #f3f3f4;

$red: #b22222;
$light-red: #c96464;

$green: #4bb543;
$light-green: #81cb7b;

$blue: #1874cd;
