@import '../../shared/static/globals.scss';

.visit-row {
  cursor: pointer;
  min-height: 70px;
  vertical-align: middle;
  border-bottom: 2px solid $light-gray;

  &:hover {
    background-color: $light-gray;
    opacity: 1 !important;
  }

  &.denied {
    background-color: $light-red;
    opacity: .75;
  }

  &.approved {
    background-color: $light-green;
    opacity: .75;
  }

  span {
    line-height: 70px;
    font-size: 22px;
    margin: 4px;

    &:last-child {
      float: right;
    }
  }
}
