@import '../../shared/static/globals.scss';

.visit-detail {
  .profile-photo {
    width: 100%;
    margin: auto;

    @media (min-width: $tablet) {
      width: 70%;
    }
  }

  p {
    display: inline-block;
    font-size: 20px;
    margin: 8px 4px;
    width: 100%;
  }

  .button-container {
    display: inline-block;
    width: 48%;
    margin: 0 1%;

    button.button.btn {
      height: 60px;
    }

    @media (min-width: $tablet) {
      width: 98%;

      button.button.btn {
        height: 70px;
      }
    }
  }
}
