@import '../../shared/static/globals.scss';

nav {
  min-height: 70px;
  background-color: white;

  button {
    float: right;
    cursor: pointer;
    color: $white;
    background-color: $blackboard;
    border: none;
    padding: 8px 10px;
    margin: 10px;

    .fa-bars {
      font-size: 20px;
    }
  }

  img {
    height: 70px;
  }

  ul {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      height: 20px;
      width: 100%;
      vertical-align: middle;
      border-top: solid 1px $grain;
      padding: 6px;
      text-align: center;

      a {
        text-decoration: none;
      }

      img {
        height: 100%;
      }
    }
  }
}
